DATABASE_URL="postgresql://postgres:postgrespassword@localhost:54320/pklku?schema=public"
JWT_ACCESS_SECRET="super-secret-access-key-pklku-2026"
JWT_REFRESH_SECRET="super-secret-refresh-key-pklku-2026"
PORT=3000
FRONTEND_URL="http://localhost:5173"
